<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here are some buttons to help you start: </h2>
<ul>
  <li>
    <div>
      <label>Recipient</label><input type="text" pInputText [(ngModel)]="recipientAddress"/>
    </div>
    <div>
      <label>Amount</label><p-spinner size="30" [(ngModel)]="etherAmount"></p-spinner>
    </div>
    <p-button label="Send Ether" (onClick)="onSendEther()"></p-button>
  </li>
  <li>
    <p-button label="Open Metamask Popup" (onClick)="onOpenMetamaskPopup()"></p-button>
  </li>
  <li>
    <p-button label="Close Metamask Popup" (onClick)="onCloseMetamaskPopup()"></p-button>
  </li>
  <li>
    <p-button label="Open Metamask Notification" (onClick)="onOpenMetamaskNotification()"></p-button>
  </li>
  <li>
    <p-button label="Close Metamask Notification" (onClick)="onCloseMetamaskNotification()"></p-button>
  </li>
</ul>
