<section class="main-screen" [ngClass]="{
    'main-screen--wallet-minimized': isMinimized(),
    'main-screen--wallet-maximized': isMaximized()
  }">
</section>
<section class="wallet" [ngClass]="{
    'wallet--minimized': isMinimized(),
    'wallet--maximized': isMaximized()
  }">
  <button *ngIf="! isMaximized()" mat-icon-button color="accent"
          class="wallet__maximize" (click)="maximizeWallet()">
    <mat-icon>arrow_left</mat-icon>
  </button>
  <button mat-icon-button color="accent" class="wallet__toggle" (click)="toggleWallet()">
    <mat-icon *ngIf="isMinimized()">account_balance_wallet</mat-icon>
    <mat-icon *ngIf="isMaximized()">arrow_right</mat-icon>
    <mat-icon *ngIf="! isMinimized() && ! isMaximized()">minimize</mat-icon>
  </button>
  <header class="balance">
    <h4 class="balance__title">Balance</h4>
    <button mat-icon-button class="balance__refresh" (click)="updateBalance()">
      <mat-icon>refresh</mat-icon>
    </button>
    <div id="balance__refresh" matTooltip matTooltipPosition="before" #comm="matTooltip"></div>
    <div class="balance__content">
      <div class="balance__value">
        {{isMaximized() ? (balance | number:'1.0-3') : (balance | toExponential)}}
      </div>
      <div class="balance__unit">EXO</div>
    </div>
  </header>
</section>
