.main-screen {
  background-color: #f7912d;
  position: absolute;
  top: 0;
  right: 20%;
  bottom: 0;
  left: 0;
}
.main-screen--wallet-minimized {
  right: 0;
}
.main-screen--wallet-maximized {
  right: 100%;
}


.wallet {
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 80%;

  -moz-transition: right .5s ease, left .5s ease;
  transition: right .5s ease, left .5s ease;
}
.wallet--minimized {
  left: 100%;
}
.wallet--maximized {
  left: 0;
}

.wallet__toggle {
  position: absolute;
  top: 0;
  right: 0;
}


.balance {
  padding: 1em;
}

/* .balance__title {
  font-size: 1.28em;
  display: inline;
} */

.balance__refresh {
}

.balance__content {
  margin: 0;
  min-height: 4em;
  position: relative;
  overflow: hidden;
}

.balance__value {
  font-size: 3em;
  position: absolute;
  right: 55%;
  left: 45%;
  bottom: 0;
}

.balance__unit {
  font-size: 2em;
  position: absolute;
  right: 0;
  bottom: 0;
}
