<mat-sidenav-container>
  <mat-sidenav #wallet mode="side" position="end" opened class="wallet" [ngClass]="{
    'wallet--maximized': isMaximized
  }">
    <button mat-icon-button color="primary" (click)="toggleMaximizeWallet()">
      <mat-icon *ngIf="! isMaximized">arrow_left</mat-icon>
      <mat-icon *ngIf="isMaximized">arrow_right</mat-icon>
    </button>
    <button *ngIf="wallet.opened && ! isMaximized" mat-icon-button
      color="primary" class="wallet__toggle" (click)="wallet.close()">
      <mat-icon>minimize</mat-icon>
    </button>

    <header class="balance">
      <h4 class="balance__title">Balance</h4>
      <button mat-icon-button color="primary" class="balance__refresh" (click)="updateBalance()">
        <mat-icon>refresh</mat-icon>
      </button>
      <div #comm="matTooltip" id="balance__refresh" matTooltip matTooltipPosition="before"></div>
      <div class="balance__content">
        <div class="balance__value">
          {{isMaximized ? (balance | number:'1.0-9') : (balance | longNumber:'1.0-6')}}
        </div>
        <div class="balance__unit">EXO</div>
      </div>
    </header>
  </mat-sidenav>

  <mat-sidenav-content class="main-screen">
    <button *ngIf="! wallet.opened" mat-icon-button color="primary"
      class="wallet__toggle" (click)="wallet.open()">
      <mat-icon>account_balance_wallet</mat-icon>
    </button>
  </mat-sidenav-content>
</mat-sidenav-container>
