<section class="main-screen" [ngClass]="{
    'main-screen--wallet-minimized': isMinimized(),
    'main-screen--wallet-maximized': isMaximized()
  }">
</section>
<section class="wallet" [ngClass]="{
    'wallet--minimized': isMinimized(),
    'wallet--maximized': isMaximized()
  }">
  <button *ngIf="! isMaximized()" pButton type="button" class="btn--ice wallet__maximize"
          icon="fa-expand" (click)="maximizeWallet()"></button>
  <button pButton type="button" class="btn--ice wallet__toggle"
          [icon]="isMinimized() ? 'fa-money' :
            (isMaximized() ? 'fa-window-restore' : 'fa-window-minimize')"
          (click)="toggleWallet()"></button>
  <header class="balance">
    <h4 class="balance__title">Balance</h4>
    <button pButton type="button" class="btn--ice balance__refresh"
            icon="fa-refresh" (click)="updateBalance()"></button>
    <div matTooltip="" matTooltipPosition="before" #balanceComm="matTooltip"></div>
    <p class="balance__content">
      <strong class="balance__value">{{balance.toString()}}</strong>
      <label class="balance__unit">EXO</label>
    </p>
  </header>
</section>
