/* You can add global styles to this file, and also import other style files */

html {
  font-size: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, button, label, .mat-raised-button {
  font-family: 'Exo 2', sans-serif;
  text-transform: uppercase;
}

h1, h2, h3 {
  font-weight: 600;
  letter-spacing: 5px;
}

h4 {
  font-weight: 300;
}

button, label, p, .mat-raised-button {
  font-size: 1.2rem;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.mat-tooltip {
  font-size: 1.25rem;
}

.mat-tooltip.suggestion {
  background-color: #1b93c7;
}

.mat-tooltip.warning {
  background-color: #fc0;
  color: #000;
}

.mat-tooltip.error {
  background-color: #c00;
}
