/* You can add global styles to this file, and also import other style files */

/* Variables */
$font-size-normal: 1.2rem;
$font-size-large: 1.4rem;
$font-size-x-large: 1.6rem;


/* Tag Styles */
html {
  font-size: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, button, label {
  font-family: 'Exo 2', sans-serif;
  text-transform: uppercase;
}

h1, h2, h3 {
  font-weight: 600;
  letter-spacing: 5px;
}

h4 {
  font-weight: 300;
}

button, label, p {
  font-size: $font-size-normal;
}

p {
  font-family: 'Montserrat', sans-serif;
}


/* Modifiers */
.-raised {
  box-shadow:
    0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.-weak {
  opacity: .7;
  transition: opacity 1s !important;
}
.-weak:hover {
  opacity: 1;
}


/* Helpers */
.h-margin-1 {
  margin: 1em !important;
}

.h-display-block {
  display: block !important;
}

.h-font-size-normal {
  font-size: $font-size-normal !important;
}

.h-font-size-large {
  font-size: $font-size-large !important;
}

.h-font-size-x-large {
  font-size: $font-size-x-large !important;
}


/* Material Overrides */
.mat-raised-button, .mat-form-field-label mat-label {
  font-family: 'Exo 2', sans-serif;
  text-transform: uppercase;
}

.mat-raised-button {
  font-size: $font-size-normal;
}

.mat-form-field-label mat-label {
  font-size: $font-size-large;
}

.mat-form-field-hint-wrapper mat-hint {
  font-family: 'Montserrat', sans-serif;
}

.mat-tooltip {
  font-size: $font-size-normal;
}

.mat-tooltip.normal-msg {
  background-color: #1b93c7;
}

.mat-tooltip.warning-msg {
  background-color: #fc0;
  color: #000;
}

.mat-tooltip.error-msg {
  background-color: #c00;
}
