/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #414b4b;
}

h1, h2, h3, h4, button, label {
  font-family: 'Exo 2', sans-serif;
  text-transform: uppercase;
  margin: 0;
}

h1, h2, h3 {
  font-weight: 600;
  letter-spacing: 5px;
}

h4 {
  font-weight: 300;
}

p {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.ui-widget.ui-button.btn--ice {
  color: #1b93c7;
  background-color: transparent;
  border: none;
}

.ui-widget.ui-button.btn--ice:enabled:hover, .ui-widget.ui-button.btn--ice:focus {
  color: #1b93c7;
  background: none;
  border: none;
}
